html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 150px;
    min-height: 100%;
    /* font-family: 'Nunito', sans-serif !important; */
    font-size: 18px;
    /* background: url("../images/dark_wood_@2X.png"); */
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    background-attachment: fixed;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;	

}



h1, h2, h3, h4, h5, h6, body {
    font-family: 'Nunito', sans-serif !important;
}

h1,
h2,
h3 {
    font-weight: 700 !important;
    color: white;
    text-shadow: 2px 2px 5px black;
}

h1 {
    padding: 10px 0 15px 0;
    color: #fa4ea4 !important;
}

h4 {
    font-style: italic;
}

.container {
    color: white;
    padding: 0;
    margin: 0;
}

.gif-container p {
    text-transform: uppercase;
    padding: 20px;
}

.img-cropper {
    overflow: hidden;
    width: 100%;
    max-height: 250px;
}

.img-cropper {
    border: 5px solid white;
    vertical-align: middle;
}

.img-cropper:hover {
    border: 5px solid #fa4ea4 ;
    height: auto;
}

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    width: 100%;
    text-align: center;
    padding: 5px;

}

/* .overlay {
    color: red;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 20;
}

.overlay:hover {
    display: none;
} */

.btn {
    padding: 14px 24px;
    margin: 10px;
    border: 0 none;
    font-weight: 1000 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #fa4ea4 !important;
    color: black !important;
    box-shadow: 2px 2px 5px black;
    border: none !important;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #fa4ea4 !important;
}
 
.btn-primary:active, .btn-primary.active {
    background: #fa4ea4 !important;
    border: none !important;

}

.btn-lg.round {
	border-radius: 24px;
}
